// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-image: url("homepage.jpg");
}
.feed{
  background-image: url("crossword.png");
}
h2{
  font-family: 'Gloria Hallelujah', cursive;
  color: whitesmoke;
}
.feed h2{
    color: black
}
.right a {
  color: white;

}
.right li{
  margin-top: 10px;
}
.feed-content{
  margin-left: 15%;
}